@media only screen and (max-width:600px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
  .sidebar {
    img {
      display: none;
    }
  }
  .content {
    p {
    text-align: left;
  }
  }
}
a {
  color: #2d09fa;
}

body {
    margin: .5%;
  }
  
  .sidebar {
    grid-area: sidebar;
    position: relative;
    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 400
    }
  }
  
  .content {
    grid-area: content;
    position: relative;
    font-size: 150%;
    p {
      text-align: center;
    }
  }
  
  .header {
    grid-area: header;
    h1 {
      font-size: 300%
  }
    h4 {
      font-size: 225%
    }
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 1%;
      grid-template-columns: 30% 30% 30%;
      grid-template-areas:
      "header  header  header"
      "sidebar content content"
      "footer  footer  footer";
      background-image: url("https://jgonterman.github.io/islt_7310/Homepage.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
  
  .box {
    color: #fff;
    border-radius: 2%;
    padding: 4%;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }