@media only screen and (max-width:600px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
    .footer {
      display: none
    }
  }
body {
    margin: .5%;
  }

  main {
    overflow: scroll;
  }

  a {
    color: rgb(3, 214, 252);
  }
  
  .content {
    grid-area: content;
    position: relative;
    text-align: center;
    h4 {
        font-size: 200%
    }
    font-size: 120%;
  }


  caption {
    text-align: center;
    font-size: 180%;
  }

  table {
    border-collapse: collapse;
  }


  th, td {
    padding: 1%;
    border: 2px solid white;
    text-align: center;
    width: 10%;
  }

  tr:nth-child(odd) {
    background-color: gray;
  }

  tr:nth-child(even) {
    background-color: black;
  }
  
  .header {
    grid-area: header;
    h1 {
        font-size: 300%
    }
  }
  
  .footer {
    grid-area: footer;
    .i {
      margin: 50px;
    }
    
    .footer, .container {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      float: left;
      background-image: url("https://jgonterman.github.io/islt_7310/images/footerbg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: black;
    }
    
    .footer--icons {
      display: flex;
      align-items: flex-center;
      justify-content: center;
    }
    
    .pic {
      width: 15px;
      height: 15px;
    }

    .big {
      position: absolute;
      width: 0px;
 z-index: -1;
    }

    .pic:hover + .big {
width: 200px;
top: -250px;
    }

  }
  
  .wrapper {
      display: grid;
      grid-gap: 1%;
      grid-template-columns: 30% 30% 30%;
      grid-template-areas:
      "header  header  header"
      "content content content"
      "footer  footer  footer";
      background-image: url("https://jgonterman.github.io/islt_7310/Homepage.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
  .box {
    color: #fff;
    border-radius: 2%;
    padding: 4%;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }
