@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
body {
    margin: 40px;
  }
  
  .content {
    grid-area: content;
    position: relative;
    text-align: center;
    h4 {
        font-size: 200%
    }
    font-size: 120%;
  }
  
  .header {
    grid-area: header;
    h1 {
        font-size: 300%
    }
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 1%;
      grid-template-columns: 800px 800px 800px;
      grid-template-areas:
      "header  header  header"
      "content content content"
      "footer  footer  footer";
      background-image: url("https://jgonterman.github.io/islt_7310/Homepage.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
  .box {
    color: #fff;
    border-radius: 1%;
    padding: 3%;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }
