body {
    margin: 40px;
  }
  
  .content {
    grid-area: content;
    position: relative;

  }
  
  .header {
    grid-area: header;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 800px 800px 800px;
      grid-template-areas:
      "header  header  header"
      "content content content"
      "footer  footer  footer";
      background-image: url("https://jgonterman.github.io/islt_7310/Homepage.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
  .box {
    color: #fff;
    border-radius: 5px;
    padding: 105px;
    font-size: 200%;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }